.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    .box {
      display: flex;
      align-items: center;
      .btn-logo {
        height: auto;
        border: none;
        background: transparent;
        .logo {
          width: 41px;
          filter: invert(1);
          height: 44px;
          object-fit: contain;
        }
      }
      .button-header {
        margin: 0 10px;
        border-radius: 10px;
        transition: .9s;
        border: none;
        &--content {
          border-radius: 10px;
          transition: .9s;
          height: 45px;
          color: #7e53f3;
          padding: 10px;
          padding-right: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .anticon {
            color: #7e53f3;
          }
          span {
            margin-left: 5px;
            font-family: Rubik;
            font-weight: bold;
            font-size: 15px;
          }
        }
        &:hover {
          border: none;
          box-shadow: 7px 5px 16px #202020;
        }
      }
    }
  }
}