.ContactMe {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // background-image: url("../../assets/images/paisaje.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  .container {
    padding: 50px 20px;
    .location {
      height: 50px;
      width: 50px;
    }
    .title {
      text-align: center;
      font-family: Rubik;
      font-size: 45px;
      font-weight: bold;
      background: linear-gradient(90deg, #7b3bf9 44.5%, #00dbd0 60.97%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 30px;
    }
  }
  .description {
    text-align: center !important;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-right: 0;
    div {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    svg {
      width: 500px !important;
      border-radius: 20px;
    }
  }
  &__form {
    width: 50%;
    height: 450px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(100px);
    .label {
      text-align: left;
      width: 100%;
      font-family: Rubik;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 30px;
      color: #ffffff;
    }
    .input,
    .textarea {
      width: 100%;
      border-radius: 5px;
      border: none;
      padding: 5px 20px;
    }
    .textarea {
      padding-top: 20px;
      height: 100px;
    }
    .input {
      height: 50px;
      margin-bottom: 20px;
    }
    .button-s {
      width: 142px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      background: linear-gradient(284deg, #4a27b4 8.27%, #7f14fc 63.55%);
      border-radius: 5px;
      color: #ffffff;
      margin-top: 20px;
      border: none;
    }
  }
  .description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    max-width: 400px;
    text-align: left;
  }
  .cont-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  #mailTo {
    opacity: 0;
  }
}
